<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- Properties -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:ps_db400.properties</value>
			</list>
		</property>
	</bean>

	<!-- Data Source -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${as400.driver}" />
		<property name="url" value="${as400.url}" />
		<property name="username" value="${as400.user}" />
		<property name="password" value="${as400.password}" />
	</bean>

	<!-- DAO -->
	<bean id="transactionDAO" class="com.pacsun.dao.TransactionDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="transactionProcess" class="com.pacsun.process.TransactionProcess">
		<property name="transactionDAO" ref="transactionDAO"></property>
	</bean>

</beans>
